{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Regu Tracking</h2>
        <form method="POST" action="{{ url_for('dashboard') }}">
            <div class="container-fluid">
				<div class="row mb-3">
					<div class="col-12">
						<div class="d-flex justify-content-between align-items-center gap-3">
							<!-- Pilih Regu -->
							<div class="flex-grow-1">
								<label for="nama_regu" class="form-label">Pilih Regu:</label>
								<select name="nama_regu" id="nama_regu" class="form-select w-100">
									{% for regu in regu_list %}
										<option value="{{ regu }}" {% if regu == request.form.get('nama_regu') %} selected {% endif %}>{{ regu }}</option>
									{% endfor %}
								</select>
							</div>
							
							<!-- Pilih Shift -->
							<div class="flex-grow-1">
								<label for="shift" class="form-label">Pilih Shift:</label>
								<select id="shift" class="form-select w-100">
									<option value="">Pilih Shift</option>
									<option value="1">Shift 1 (08:00 - 16:00)</option>
									<option value="2">Shift 2 (16:00 - 00:00)</option>
									<option value="3">Shift 3 (00:00 - 08:00)</option>
								</select>
							</div>

							<!-- Dari Tanggal -->
							<div class="col-md-3">
								<label for="start_time" class="form-label">Dari Tanggal:</label>
								<input type="datetime-local" id="start_time" name="start_time" class="form-control">
							</div>

							<!-- Sampai Tanggal -->
							<div class="col-md-3">
								<label for="end_time" class="form-label">Sampai Tanggal:</label>
								<input type="datetime-local" id="end_time" name="end_time" class="form-control">
							</div>

							<!-- Tombol Tampilkan -->
							<div>
								<button type="submit" class="btn btn-primary mt-4">Tampilkan</button>
							</div>
						</div>
					</div>
				</div>
			</div>


        </form>

        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        {% if peta %}
        <iframe src="{{ url_for('static', filename='map.html') }}" width="100%" height="500px"></iframe>
        {% endif %}
    </div>
	



{% endblock %}
